h1 {
  text-align: center;
}
.App {
  background-color: black;
}

.question {
  text-align: center;
  margin: auto 0;
  border-radius: 15px;
}

.user {
  text-align: center;
}

.side-bar {
  background-color: darkgray;
  color: white;
}
.main {
  background-color: black;
}

.input-container {
  max-width: 750px;
}

#submit {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

